/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    color: #ff0000;
}
/*
Label {
    -fx-text-fill: red;
}
*/
ImageView {
    -fx-cursor: hand;
    border: "1px solid #ff0000";
}

ButtonBar {
    -fx-padding: 5
}